## arquivos de projeto de IDE
.project
.settings
.buildpath
nbproject
.zfproject.xml
*.sublime-project
## arquivos privados de IDE
*.sublime-workspace
*.iws
.idea/checkstyle-idea.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/modules.xml
.idea/.name
.idea/copyright
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/uiDesigner.xml
.idea/deployment.xml
.idea/frameworkRootSettings.xml
# idealmente o módulo do IntelliJ seria incluso, mas sua interação
# com Composer é um tanto problemática
*.iml
.idea/modules.xml
# compiler.xml contém configurações de compilador Java, desnecessárias aqui
.idea/compiler.xml
# misc.xml contém configurações de plug-ins menores e bem voláteis
.idea/misc.xml
# deployment.xml contém configurações da VM de teste local
.idea/deployment.xml

# arquivos de configuração
/build.properties
app/config/parameters.yml

# arquivos gerados pelo Symfony
app/bootstrap*
app/bundles_map.php
app/phpunit.xml
app/cache/*
app/logs/*
app/spool/*
web/bundles
# cache de assets em produção
web/css
web/js

# arquivos gerados por pacotes npm
node_modules/**/build

# arquivos QA usados pelo Jenkins
build/logs
build/pdepend
build/code-browser
build/coverage

# binários do repositório
bin/*
!bin/*.phar

# dependências gerenciadas pelo composer
vendor/*

# arquivos SO
.DS_Store

# commitar apenas composer json
.composer.lock

