## arquivos de projeto de IDE
.project
.settings
.buildpath
nbproject
.zfproject.xml
*.sublime-project
## arquivos privados de IDE
*.sublime-workspace
*.iws
.idea

# arquivos de configuração
/build.properties
app/config/parameters.yml

# arquivos gerados pelo Symfony
app/bootstrap.php.cache
app/phpunit.xml
app/cache/*
app/logs/*
app/spool/*
web/bundles
# cache de assets em produção
web/css
web/js

# arquivos gerados por pacotes npm
node_modules/**/build

# arquivos QA usados pelo Jenkins
build/logs
build/pdepend
build/code-browser
build/coverage

# binários do repositório
bin/*
!bin/*.phar

# dependências gerenciadas pelo composer
vendor/*

# arquivos SO
.DS_Store

# commitar apenas composer json
composer.lock

