parameters:
    ### Banco de dados ###
    database_driver: @DB_DRIVER@
    database_host: @DB_HOST@
    database_port: @DB_PORT@
    database_name: @DB_DATABASE@
    database_user: @DB_USERNAME@
    database_password: @DB_PASSWORD@

    ### Envio de e-mail ###
    mailer_transport: @MAILER_TRANSPORT@
    mailer_host: @MAILER_HOST@
    mailer_user: @MAILER_USER@
    mailer_password: @MAILER_PASSWORD@

    locale: en

    secret: ThisTokenIsNotSoSecretChangeIt
