<div module-app="UserNew" ng-cloak ng-controller="UserController">
    <form class="form-horizontal">
        <div>
            <div class="control-group">
                <div class="controls">
                    <h3>Cadastrar Usuário {{data.username}}</h3>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nome: </label>
                <div class="controls">
                    <input type="text" ng-model="data.username" class="span4"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">CPF: </label>
                <div class="controls">
                    <input type="text" ng-model="data.nuCpf" class="span4"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email: </label>
                <div class="controls">
                    <input type="text" ng-model="data.dsEmail" class="span4"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Senha: </label>
                <div class="controls">
                    <input type="text" ng-model="data.password" class="span4"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Confirme a senha: </label>
                <div class="controls">
                    <input type="text" ng-model="data.confirmePassword" class="span4"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" ng-click="save()" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>
</div>